# vendor directories
/vendor
/node_modules

# local configuration files
.env
.env-testing

# IDE files
.idea

# misc local directories
_local

# Codeception
tests/_output/*
tests/_support/_generated/*
tests/acceptance.suite.yml
tests/functional.suite.yml
tests/unit.suite.yml
codeception.yml
storage/testing
