# codeception
tests/_output/*
tests/_support/_generated
tests/api.suite.yml
tests/acceptance.suite.yml
storage/*.sqlite
storage/*.sqlite-journal

# IDE
/.idea

# laravel
/public/storage
/public/hot
/storage/*.key
Homestead.json
Homestead.yaml
.env
.env.testing

# misc
_ignore

# package managers
/vendor
